body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    padding: 0;
}

/*헤더*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: -10px 0;
    background-color: white;
    box-shadow: 0 3px 1px #0000001a;
}

header p{
    font-size: 42px;
    color: #afafaf;
    padding: 0;
    margin: 0;
    margin-top: -5px;
    margin-bottom: -20px;
    margin-left: 15px;
    margin-right: 6.4em;
}

header a{
    text-decoration: none;
}

.logo{
    width: 50%;
    margin-top: 10px;
}

.profile{
    width: 35px;
    margin-top: 13px;
    margin-right: 10px;
    margin-left: -50px;
}

.logout{
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid #79a2df;
    color: #79a2df;
    background-color: #ffffff;
    float: right;
    padding: 3px 15px;
    margin-top: 15px;
    margin-right: 15px;
}

.logout:hover{
    background-color: #ebebeb;
}

/*마이페이지*/
.mypage{
    margin-top: 45px;
    margin-left: 120px;
}

.title{
    font-size: 22px;
    font-weight: 550;
}

/*정보*/
.info{
    margin-top: 45px;
    margin-left: 8em;
}

.info p{
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 40px;
}

table{
    width: 90%;
    font-size: 19px;
    border-collapse: collapse; /*테두리 겹치지 않도록*/
}

th{
    width: 18%;
    background-color: #eeeeee;
    font-weight: 545;
}

td button{
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid #79a2df;
    color: #79a2df;
    background-color: #ffffff;
    float: right;
    padding: 3px 22px;
}

td button:hover{
    background-color: #ebebeb;
}

th,td {
    border-bottom: 2px solid #e2e2e2;
    padding: 18px;
}

td{
    padding-left: 45px;

}

tr:last-child th,tr:last-child td{
    border-bottom: none;
}

/*저장*/
.save{
    width: 8%;
    height: 46px;
    background-color: #79a2df;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 39.5em;
}

.save:hover {
    background-color: #466aa1;
}