body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    padding: 0;
}

/*헤더*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: -10px 0;
    background-color: white;
    box-shadow: 0 3px 1px #0000001a;
}

header p{
    font-size: 42px;
    color: #afafaf;
    padding: 0;
    margin: 0;
    margin-top: -5px;
    margin-bottom: -20px;
    margin-left: 15px;
    margin-right: 6.4em;
}

header a{
    text-decoration: none;
}

.logo{
    width: 50%;
    margin-top: 10px;
}

.profile{
    width: 35px;
    margin-top: 13px;
    margin-right: 10px;
    margin-left: -50px;
}

.logout{
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid #79a2df;
    color: #79a2df;
    background-color: #ffffff;
    float: right;
    padding: 3px 15px;
    margin-top: 15px;
    margin-right: 15px;
}

.logout:hover{
    background-color: #ebebeb;
}

/*현재 위치 확인*/
.now_loc{
    margin-top: 45px;
}

.title{
    font-size: 22px;
    font-weight: 550;
    margin-left: 120px;
}

/*검색*/
.serch{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.serch p{
    font-size: 20px;
    font-weight: 545;
}

.search-box {
    position: relative;
    width: 70%;
}

input{
    border: 2px solid #a7cfe2;
    border-radius: 7px;
    width: 100%;
    height: 45px;
    text-align: center;
    color: #79a2df;
}

input::placeholder {
    color: #bbc5ce;
    font-size: 17px;
}

input:focus {outline:none;}  /*클릭 시 테두리 x*/

.serch-img{
    margin-right: -5em;
    height: 50px;
}

/*자동완성내용*/
.auto{
    width: 100%; /* 검색창과 동일한 너비 */
    font-size: 18px;
    text-align: center;
    background-color: #e0e0e0;
    z-index: 3;
    position: absolute;
    top: 100%; /* 검색창 바로 아래에 붙도록 설정 */
    left: 0;
}

.autocomplete-items {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    list-style-type: none; /* 점을 제거 */
    padding-left: 0; /* 리스트 왼쪽 여백을 제거 */
    margin: 0;
}

.auto a{
    text-decoration: none;
    color: #707070;
}

.auto hr{
    color: #d8d8d8;
}

/* 결과창 */
.result {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    margin: 1em auto; /* 좌우 자동으로 가운데 정렬 */
    width: 75%; /* 너비를 화면 비율로 설정 */
    border-radius: 10px;
    border: 1px solid #383838;
    background-color: #ffffff;
    height: 600px;
    position: relative;
    z-index: 1;
}

.running{
    font-weight: 550;
    color: #58aae0;
}

.not-running{
    font-weight: 550;
    color: #e05858;
}

.text{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: -20px;
    margin: 0 12em;
    margin-top: -10px;
    margin-bottom: -22px;
}