body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    padding: 0;
}

/*헤더*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin: -10px 0;
    background-color: white;
    box-shadow: 0 3px 1px #0000001a;
}

header p{
    font-size: 42px;
    color: #afafaf;
    padding: 0;
    margin: 0;
    margin-top: -5px;
    margin-bottom: -20px;
    margin-left: 15px;
    margin-right: 6.4em;
}

header a{
    text-decoration: none;
}

.logo{
    width: 50%;
    margin-top: 10px;
}

.profile{
    width: 35px;
    margin-top: 13px;
    margin-right: 10px;
    margin-left: -50px;
}

.logout{
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid #79a2df;
    color: #79a2df;
    background-color: #ffffff;
    float: right;
    padding: 3px 15px;
    margin-top: 15px;
    margin-right: 15px;
}

.logout:hover{
    background-color: #ebebeb;
}

/*차량별 주행 횟수*/
.drive-num{
    margin-top: 45px;
}

.title{
    font-size: 22px;
    font-weight: 550;
    margin-left: 120px;
}

/*검색*/
.serch{
    display: flex;
    justify-content: space-around;
    margin-right: 14em;
    margin-bottom: 20px;
}

.serch p{
    font-size: 20px;
    font-weight: 545;
    margin-left: 8em;
    margin-top: 10px;
    margin-right: 3em;
}

input{
    border: 2px solid #a7cfe2;
    border-radius: 7px;
    width: 100em;
    height: 45px;
    text-align: center;
    color: #79a2df;
}

input::placeholder {
    color: #bbc5ce;
    font-size: 17px;
}

input:focus {outline:none;}  /*클릭 시 테두리 x*/

.serch-img{
    margin-right: -5em;
    height: 50px;
}

/*날짜*/
.date{
    display: flex;
    text-align: center;
}

.date-nav{
    padding: 0 52.5em;
}

.slide-button {
    background-color: transparent;
    border: none;
    font-size: 17px;
    color: #333;
    cursor: pointer;
    margin-left: -15px;
}

.date-display {
    font-size: 19px;
    font-weight: 550;
    color: #333;
    padding: 0 40px;
}

.date-display img{
    height: 17px;
}

.tab-menu {
    margin-left: -26em;
    margin-bottom: 20px;
}

.tab-menu a{
    text-decoration-line: none;
}

.tab {
    background-color: #f0f0f0;
    color: #bbbbbb;
    border: none;
    padding: 1px 20px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
}

.tab-active {
    background-color: #79a2df;
    color: white;
    border: none;
    padding: 1px 20px;
    border-radius: 25px;
    font-size: 18px;
}

/*결과창*/
.result{
    padding: 22px 40px;
    margin: 0 10em;
    border-radius: 10px;
    border: 1px solid #383838;
}

.result a{
    text-decoration: none;
}

.select{
    display: flex;
    padding: 0;
}

.select p{
    font-size: 18px;
    margin-top: 4px;
    margin-right: 20px;
}

.check{
    width: 19px;
    border-radius: 50%;
    background-color: #79a2df;
    color: #ffffff;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 11px;
}

.no-check{
    width: 19px;
    border-radius: 50%;
    background-color: #e2e2e2;
    color: #b6b6b6;
    padding: 5px;
    margin-right: 10px;
}

.step-icon {
    font-size: 18px;
    align-items: center;
    margin-left: 2px;
}

.chart{
    width: 100%;
    margin-bottom: 15px;
}